<div class="balloons">
    <img id="balloon1" class="balloon" src="../images/balloon1.svg" alt="balloons">
    <img id="balloon2" class="balloon" src="../images/balloon2.svg" alt="balloons">
    <img id="balloon3" class="balloon" src="../images/balloon3.svg" alt="balloons">
    <img id="balloon4" class="balloon" src="../images/balloon4.svg" alt="balloons">
    <img id="balloon5" class="balloon" src="../images/balloon5.svg" alt="balloons">
    <img id="balloon6" class="balloon" src="../images/balloon6.svg" alt="balloons">
</div>
<div class="firework">
    <div class="before"></div>
    <div class="after"></div>
</div>
