<head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
