<div class="nav">
    <div>
        <a class="nav-link nav-link-brand" href="/"><i class="material-icons home-icon">
                home
            </i>Home</a>
    </div>
    <div class="nav-link nav-link-toggle">
        <i class="material-icons">menu</i>
    </div>
    <nav class="nav-items nav-items-right">
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Sign Up</a>
        <a class="nav-link" href="/logout">Log Out</a>
    </nav>
</div>
