<div class="nav">
    <div>
        <a class="nav-link nav-link-brand" href="/">Home</a>
    </div>
    <div class="nav-link nav-link-toggle">
        <i class="material-icons">menu</i>
    </div>
    <nav class="nav-items nav-items-right">
        <a class="nav-link" href="#">Login</a>
        <a class="nav-link" href="/register">Sign Up</a>
    </nav>
</div>
