<!DOCTYPE html>
<html>
<%- include('partials/head'); -%>
<body>
<%- include('partials/nav'); -%>
<div class="container">
    <header>
        <h1><%= title %></h1>
        <p>Please sign in below.</p>
    </header>
    <section>
        <form action="/login" method="post">
            <ul class="flex-outer">
                <li>
                    <label for="username">User Name:</label>
                    <input type="text" name="username" id="username" placeholder="Enter username">
                </li>
                <li>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter password">
                </li>
                <li>
                    <button type="submit" class="btn btn-o-blue btn-fill">Submit</button>
                </li>
            </ul>

        </form>
    </section>
</div>

<%- include('partials/scripts'); -%>
</body>
</html>
