<!DOCTYPE html>
<html>
<%- include('partials/head'); -%>
<body>
<%- include('partials/nav'); -%>
<div class="container">
    <header>
        <h1><%= title %></h1>
        <p>Sign up and track your progress.  It's easy and fun!</p>
    </header>
    <section>
        <form action="/register" method="post">
            <ul class="flex-outer">
                <li>
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" placeholder="Enter name">
                </li>
                <li>
                    <label for="username">User Name:</label>
                    <input type="text" name="username" id="username" placeholder="Enter username">
                </li>
                <li>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="Enter email">
                </li>
                <li>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter password">
                </li>
                <li>
                    <button type="submit">Submit</button>
                </li>


            </ul>

        </form>
    </section>
</div>

<%- include('partials/scripts'); -%>
</body>
</html>
