@import url("https://fonts.googleapis.com/css?family=Karla:400,700");
body {
  padding: 0;
  margin: 0;
  font-size: 110%;
  font-family: Karla, sans-serif;
  color: #303030;
  background: url("../images/bg.svg");
  background-size: auto 1100px;
  background-repeat: no-repeat; }

.container {
  margin: 0 auto;
  max-width: 960px;
  overflow: hidden; }

.title {
  text-transform: uppercase; }

a {
  color: #3fa9f5;
  text-decoration: none; }

.level {
  margin-bottom: 1.5em; }

.worksheet {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2em;
  margin: 0 2em 0 2em; }

@media (max-width: 1060px) {
  .worksheet {
    display: grid;
    grid-template-columns: repeat(8, 1fr); } }

@media (max-width: 780px) {
  .worksheet {
    display: grid;
    grid-template-columns: repeat(6, 1fr); } }

@media (max-width: 550px) {
  .worksheet {
    display: grid;
    grid-template-columns: repeat(4, 1fr); } }

.hero {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  height: 50%;
  color: #303030;
  text-transform: uppercase; }

@media (min-width: 576px) {
  .hero {
    padding: 4rem 2rem; } }

.columns-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 1.5em; }

@media (max-width: 768px) {
  .columns-3 {
    display: flex;
    flex-direction: column; } }

.card {
  height: 10em;
  color: #fff;
  background: #ffc628;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.27);
  transition: 0.5s; }

.card h1 {
  text-transform: uppercase;
  transition: 0.5s; }

.card a {
  font-size: 150%;
  transition: 0.5s; }

.card a:hover {
  color: #0a76c4; }

.card:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.66); }

@media (max-width: 780px) {
  .card {
    height: 8em;
    box-shadow: none;
    margin: 1em; }
  .card:hover {
    box-shadow: none; } }

.bold {
  font-weight: bold; }

.equation.stacked {
  max-width: 5em;
  display: inline-block;
  font-size: 160%; }

.equation.stacked .number {
  display: block;
  text-align: right; }

.equation.stacked .operator {
  float: left; }

.equation.stacked .equals {
  display: block;
  height: 0;
  border-bottom: solid 1px #2f1530;
  overflow: hidden; }

.answer {
  display: inline-block;
  text-align: right; }

.label {
  text-align: right; }

.input {
  width: 100%;
  font-size: 75%; }

.results {
  margin-top: 3em; }

#results {
  margin-left: 1em; }

.balloons {
  display: none; }

.balloon {
  position: fixed;
  overflow: hidden;
  transform: translateY(0px);
  animation: float 10s ease-in-out infinite;
  opacity: .5; }

#balloon2 {
  margin-left: 4em; }

#balloon3 {
  margin-top: 2em;
  margin-left: 8em; }

#balloon4 {
  margin-top: 3.5em;
  margin-left: 9em; }

#balloon5 {
  margin-top: 5em;
  margin-left: 7em; }

#balloon6 {
  margin-top: 6em;
  margin-left: 11em; }

@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-800px);
    opacity: 0; }
  100% {
    transform: translateY(-1200px);
    opacity: 0; } }

.firework {
  display: none; }

.firework > .before, .firework > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.firework > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: 154.33333px 99px #003cff, -465.66667px -26px #006fff, 575.33333px -750px #e6ff00, 564.33333px 195px #ff0004, 760.33333px 51px #e600ff, 339.33333px -323px #ff0004, -402.66667px 140px #ff0026, -132.66667px -18px #b3ff00, -462.66667px -917px #ffb700, 611.33333px 126px #0033ff, -462.66667px 18px #ff2200, 879.33333px -44px #ffbf00, 97.33333px -865px #ee00ff, 553.33333px -991px #bb00ff, 274.33333px -917px #2600ff, -386.66667px -323px #00e6ff, 295.33333px -443px #ffea00, -383.66667px -372px #0011ff, 616.33333px -386px #0009ff, 688.33333px -831px #ff3700, 292.33333px -494px #ff00ee, -348.66667px -10px #9dff00, 151.33333px -455px #00b3ff, 180.33333px -991px #ffa600, 48.33333px 87px #ff8400, 376.33333px -11px #00ffc8, 16.33333px -130px #ff00f2, -359.66667px -859px #6aff00, 499.33333px -671px #ff0059, 788.33333px -964px #8c00ff, 218.33333px -126px #ff0900, 723.33333px -928px #0073ff, 405.33333px -487px #00ff77, 693.33333px -444px #006fff, 746.33333px -777px #00e1ff, 236.33333px -832px #0066ff, -426.66667px -951px #ffaa00, -98.66667px -799px #00ffe1, -107.66667px -558px #00ff99, 785.33333px -265px #ff0033, 167.33333px -520px #bbff00, -432.66667px -567px #0004ff, 110.33333px -275px #4d00ff, -28.66667px 173px #66ff00, 273.33333px -848px #6f00ff, -354.66667px -399px #aaff00, 404.33333px -714px #4400ff, 132.33333px -663px #0015ff, -319.66667px 67px #ffae00, -40.66667px -94px #c400ff, 399.33333px -697px #ff00e6, 181.33333px -266px #00ff0d, 506.33333px -324px #84ff00, 464.33333px -424px #f200ff, 195.33333px -475px #00fff7, 713.33333px -983px #73ff00, 236.33333px 144px #00ffa6, -362.66667px 123px #7bff00, -210.66667px 188px #ff8800, 259.33333px -255px #5e00ff, -419.66667px 148px #a600ff, -190.66667px -962px #0088ff, 515.33333px -680px #00eeff, 778.33333px 62px #ff0015, 723.33333px -881px #ff7b00, 669.33333px -546px #ff0077, 25.33333px -226px #ff00ae, 792.33333px -774px #ff0055, -396.66667px -741px #ff1500, 19.33333px -211px #9100ff, 610.33333px 148px #8800ff, -322.66667px 36px #ff0004, 422.33333px -985px #ff0004, 624.33333px -426px #ff4800, 179.33333px 23px #00f7ff, 713.33333px -559px #ff0095, -322.66667px -936px #ff00aa, -322.66667px 23px #ddff00, 727.33333px 191px #ffb700, 801.33333px -97px #3cff00, 903.33333px -753px #00ff6a, 313.33333px -738px #4800ff, -31.66667px 142px #00ff11, -142.66667px 60px #007bff, 713.33333px -261px #ff8000, 261.33333px -973px #00e6ff, 910.33333px -865px #00ffaa, -49.66667px -844px #0066ff, -282.66667px -751px #ff0015, -231.66667px -304px #ff000d, -141.66667px -165px #ff1e00, -164.66667px -723px #0080ff, -89.66667px 33px #004dff, -132.66667px -51px #00ffb7, 154.33333px -246px #ff007b, 24.33333px -472px #ff006f, 89.33333px -617px #00fbff, 39.33333px -351px #ffc400, 518.33333px -512px #00ffc4, 57.33333px -520px #00a2ff, 658.33333px -528px #0095ff, -431.66667px -141px #1eff00, -313.66667px 188px #00fffb, 22.33333px -500px #ff3700, -77.66667px 167px #0004ff, 717.33333px -747px #00ff15, -434.66667px -583px #ff0040, 557.33333px -222px #00d9ff, 556.33333px -879px #00ff4d, 437.33333px 148px #bf00ff, 269.33333px -696px #00eaff, -34.66667px -593px #d500ff, -338.66667px -495px #001aff, -391.66667px -24px #2f00ff, 234.33333px -557px #00ffa6, 671.33333px -905px #00b7ff, -257.66667px -949px #ff0037, -412.66667px -679px #ee00ff, -400.66667px -734px #00ffc4, 229.33333px -543px #003cff, 394.33333px -216px #b3ff00, -217.66667px -290px #00eeff, 694.33333px -950px #00ff5e, -77.66667px 79px #00ffc8, 281.33333px 190px #ff8400, 363.33333px 97px #00b3ff, -95.66667px -234px #00eeff, 291.33333px -772px #ff00ae, -424.66667px -544px #fb00ff, 303.33333px -570px #e600ff, 338.33333px -953px #ff00a2, 838.33333px -372px #4000ff, -115.66667px -264px #d500ff, 291.33333px -755px #fb00ff, 391.33333px -908px cyan, 122.33333px -866px #e100ff, -414.66667px -558px #ffd500, 376.33333px 54px #ff00d5, 691.33333px -572px #ff0066, -457.66667px -251px #fffb00, 541.33333px 18px #ff0022, 295.33333px -350px #00ffa2, 813.33333px -931px #00ff7b, -329.66667px -295px #ffe100, -418.66667px -1px #00ffdd, 751.33333px -116px #e6ff00, 370.33333px -593px #00ff9d, 308.33333px -234px #1aff00, 498.33333px -399px #00ff51, 382.33333px -626px #0037ff, -186.66667px 38px #00a6ff, -409.66667px 72px #5e00ff, 724.33333px -341px #004dff, 593.33333px -66px #00ff5e, 217.33333px -879px #ea00ff, 364.33333px -821px #7700ff, 503.33333px -403px #00ffae, -209.66667px -653px #00ff9d, 540.33333px -827px #6fff00, 729.33333px -127px #ff00e6, 348.33333px -915px #ff0400, 785.33333px -815px #ff004d, -283.66667px -966px #cc00ff, 294.33333px 124px #ff0026, -381.66667px -974px #ff009d, -395.66667px -592px #ff0022, -67.66667px -655px #fbff00, -237.66667px 120px #8400ff, 619.33333px -688px #5900ff, 597.33333px -943px #ffe100, 103.33333px -739px #f200ff, 170.33333px -291px #00ff62, 798.33333px -604px #ff4800, 421.33333px -683px #002bff, 353.33333px -336px blue, 330.33333px -421px #00ff26, -204.66667px -476px #00ff95, 435.33333px -705px #00ffd9, 267.33333px -670px #4d00ff, -141.66667px 97px #b700ff, 187.33333px -599px #00ffa2, 439.33333px -898px #0091ff, -64.66667px -806px #d900ff, -200.66667px -897px #00aeff, 856.33333px -92px #006fff, 392.33333px -805px #0051ff, 8.33333px -474px #ff0037, 848.33333px -313px #00ff37, 667.33333px 120px #a600ff, 665.33333px -294px #8cff00, 117.33333px -159px #2bff00, 8.33333px -748px #ff0080, -445.66667px -123px #0011ff, 810.33333px -963px #ff3300, 116.33333px -70px #0d00ff, -41.66667px 13px #0077ff, 739.33333px -897px #bf00ff, -171.66667px -87px #f200ff, 38.33333px 55px #00f7ff, 355.33333px 16px magenta, -218.66667px -849px #008cff; } }

@-moz-keyframes bang {
  to {
    box-shadow: 154.33333px 99px #003cff, -465.66667px -26px #006fff, 575.33333px -750px #e6ff00, 564.33333px 195px #ff0004, 760.33333px 51px #e600ff, 339.33333px -323px #ff0004, -402.66667px 140px #ff0026, -132.66667px -18px #b3ff00, -462.66667px -917px #ffb700, 611.33333px 126px #0033ff, -462.66667px 18px #ff2200, 879.33333px -44px #ffbf00, 97.33333px -865px #ee00ff, 553.33333px -991px #bb00ff, 274.33333px -917px #2600ff, -386.66667px -323px #00e6ff, 295.33333px -443px #ffea00, -383.66667px -372px #0011ff, 616.33333px -386px #0009ff, 688.33333px -831px #ff3700, 292.33333px -494px #ff00ee, -348.66667px -10px #9dff00, 151.33333px -455px #00b3ff, 180.33333px -991px #ffa600, 48.33333px 87px #ff8400, 376.33333px -11px #00ffc8, 16.33333px -130px #ff00f2, -359.66667px -859px #6aff00, 499.33333px -671px #ff0059, 788.33333px -964px #8c00ff, 218.33333px -126px #ff0900, 723.33333px -928px #0073ff, 405.33333px -487px #00ff77, 693.33333px -444px #006fff, 746.33333px -777px #00e1ff, 236.33333px -832px #0066ff, -426.66667px -951px #ffaa00, -98.66667px -799px #00ffe1, -107.66667px -558px #00ff99, 785.33333px -265px #ff0033, 167.33333px -520px #bbff00, -432.66667px -567px #0004ff, 110.33333px -275px #4d00ff, -28.66667px 173px #66ff00, 273.33333px -848px #6f00ff, -354.66667px -399px #aaff00, 404.33333px -714px #4400ff, 132.33333px -663px #0015ff, -319.66667px 67px #ffae00, -40.66667px -94px #c400ff, 399.33333px -697px #ff00e6, 181.33333px -266px #00ff0d, 506.33333px -324px #84ff00, 464.33333px -424px #f200ff, 195.33333px -475px #00fff7, 713.33333px -983px #73ff00, 236.33333px 144px #00ffa6, -362.66667px 123px #7bff00, -210.66667px 188px #ff8800, 259.33333px -255px #5e00ff, -419.66667px 148px #a600ff, -190.66667px -962px #0088ff, 515.33333px -680px #00eeff, 778.33333px 62px #ff0015, 723.33333px -881px #ff7b00, 669.33333px -546px #ff0077, 25.33333px -226px #ff00ae, 792.33333px -774px #ff0055, -396.66667px -741px #ff1500, 19.33333px -211px #9100ff, 610.33333px 148px #8800ff, -322.66667px 36px #ff0004, 422.33333px -985px #ff0004, 624.33333px -426px #ff4800, 179.33333px 23px #00f7ff, 713.33333px -559px #ff0095, -322.66667px -936px #ff00aa, -322.66667px 23px #ddff00, 727.33333px 191px #ffb700, 801.33333px -97px #3cff00, 903.33333px -753px #00ff6a, 313.33333px -738px #4800ff, -31.66667px 142px #00ff11, -142.66667px 60px #007bff, 713.33333px -261px #ff8000, 261.33333px -973px #00e6ff, 910.33333px -865px #00ffaa, -49.66667px -844px #0066ff, -282.66667px -751px #ff0015, -231.66667px -304px #ff000d, -141.66667px -165px #ff1e00, -164.66667px -723px #0080ff, -89.66667px 33px #004dff, -132.66667px -51px #00ffb7, 154.33333px -246px #ff007b, 24.33333px -472px #ff006f, 89.33333px -617px #00fbff, 39.33333px -351px #ffc400, 518.33333px -512px #00ffc4, 57.33333px -520px #00a2ff, 658.33333px -528px #0095ff, -431.66667px -141px #1eff00, -313.66667px 188px #00fffb, 22.33333px -500px #ff3700, -77.66667px 167px #0004ff, 717.33333px -747px #00ff15, -434.66667px -583px #ff0040, 557.33333px -222px #00d9ff, 556.33333px -879px #00ff4d, 437.33333px 148px #bf00ff, 269.33333px -696px #00eaff, -34.66667px -593px #d500ff, -338.66667px -495px #001aff, -391.66667px -24px #2f00ff, 234.33333px -557px #00ffa6, 671.33333px -905px #00b7ff, -257.66667px -949px #ff0037, -412.66667px -679px #ee00ff, -400.66667px -734px #00ffc4, 229.33333px -543px #003cff, 394.33333px -216px #b3ff00, -217.66667px -290px #00eeff, 694.33333px -950px #00ff5e, -77.66667px 79px #00ffc8, 281.33333px 190px #ff8400, 363.33333px 97px #00b3ff, -95.66667px -234px #00eeff, 291.33333px -772px #ff00ae, -424.66667px -544px #fb00ff, 303.33333px -570px #e600ff, 338.33333px -953px #ff00a2, 838.33333px -372px #4000ff, -115.66667px -264px #d500ff, 291.33333px -755px #fb00ff, 391.33333px -908px cyan, 122.33333px -866px #e100ff, -414.66667px -558px #ffd500, 376.33333px 54px #ff00d5, 691.33333px -572px #ff0066, -457.66667px -251px #fffb00, 541.33333px 18px #ff0022, 295.33333px -350px #00ffa2, 813.33333px -931px #00ff7b, -329.66667px -295px #ffe100, -418.66667px -1px #00ffdd, 751.33333px -116px #e6ff00, 370.33333px -593px #00ff9d, 308.33333px -234px #1aff00, 498.33333px -399px #00ff51, 382.33333px -626px #0037ff, -186.66667px 38px #00a6ff, -409.66667px 72px #5e00ff, 724.33333px -341px #004dff, 593.33333px -66px #00ff5e, 217.33333px -879px #ea00ff, 364.33333px -821px #7700ff, 503.33333px -403px #00ffae, -209.66667px -653px #00ff9d, 540.33333px -827px #6fff00, 729.33333px -127px #ff00e6, 348.33333px -915px #ff0400, 785.33333px -815px #ff004d, -283.66667px -966px #cc00ff, 294.33333px 124px #ff0026, -381.66667px -974px #ff009d, -395.66667px -592px #ff0022, -67.66667px -655px #fbff00, -237.66667px 120px #8400ff, 619.33333px -688px #5900ff, 597.33333px -943px #ffe100, 103.33333px -739px #f200ff, 170.33333px -291px #00ff62, 798.33333px -604px #ff4800, 421.33333px -683px #002bff, 353.33333px -336px blue, 330.33333px -421px #00ff26, -204.66667px -476px #00ff95, 435.33333px -705px #00ffd9, 267.33333px -670px #4d00ff, -141.66667px 97px #b700ff, 187.33333px -599px #00ffa2, 439.33333px -898px #0091ff, -64.66667px -806px #d900ff, -200.66667px -897px #00aeff, 856.33333px -92px #006fff, 392.33333px -805px #0051ff, 8.33333px -474px #ff0037, 848.33333px -313px #00ff37, 667.33333px 120px #a600ff, 665.33333px -294px #8cff00, 117.33333px -159px #2bff00, 8.33333px -748px #ff0080, -445.66667px -123px #0011ff, 810.33333px -963px #ff3300, 116.33333px -70px #0d00ff, -41.66667px 13px #0077ff, 739.33333px -897px #bf00ff, -171.66667px -87px #f200ff, 38.33333px 55px #00f7ff, 355.33333px 16px magenta, -218.66667px -849px #008cff; } }

@-o-keyframes bang {
  to {
    box-shadow: 154.33333px 99px #003cff, -465.66667px -26px #006fff, 575.33333px -750px #e6ff00, 564.33333px 195px #ff0004, 760.33333px 51px #e600ff, 339.33333px -323px #ff0004, -402.66667px 140px #ff0026, -132.66667px -18px #b3ff00, -462.66667px -917px #ffb700, 611.33333px 126px #0033ff, -462.66667px 18px #ff2200, 879.33333px -44px #ffbf00, 97.33333px -865px #ee00ff, 553.33333px -991px #bb00ff, 274.33333px -917px #2600ff, -386.66667px -323px #00e6ff, 295.33333px -443px #ffea00, -383.66667px -372px #0011ff, 616.33333px -386px #0009ff, 688.33333px -831px #ff3700, 292.33333px -494px #ff00ee, -348.66667px -10px #9dff00, 151.33333px -455px #00b3ff, 180.33333px -991px #ffa600, 48.33333px 87px #ff8400, 376.33333px -11px #00ffc8, 16.33333px -130px #ff00f2, -359.66667px -859px #6aff00, 499.33333px -671px #ff0059, 788.33333px -964px #8c00ff, 218.33333px -126px #ff0900, 723.33333px -928px #0073ff, 405.33333px -487px #00ff77, 693.33333px -444px #006fff, 746.33333px -777px #00e1ff, 236.33333px -832px #0066ff, -426.66667px -951px #ffaa00, -98.66667px -799px #00ffe1, -107.66667px -558px #00ff99, 785.33333px -265px #ff0033, 167.33333px -520px #bbff00, -432.66667px -567px #0004ff, 110.33333px -275px #4d00ff, -28.66667px 173px #66ff00, 273.33333px -848px #6f00ff, -354.66667px -399px #aaff00, 404.33333px -714px #4400ff, 132.33333px -663px #0015ff, -319.66667px 67px #ffae00, -40.66667px -94px #c400ff, 399.33333px -697px #ff00e6, 181.33333px -266px #00ff0d, 506.33333px -324px #84ff00, 464.33333px -424px #f200ff, 195.33333px -475px #00fff7, 713.33333px -983px #73ff00, 236.33333px 144px #00ffa6, -362.66667px 123px #7bff00, -210.66667px 188px #ff8800, 259.33333px -255px #5e00ff, -419.66667px 148px #a600ff, -190.66667px -962px #0088ff, 515.33333px -680px #00eeff, 778.33333px 62px #ff0015, 723.33333px -881px #ff7b00, 669.33333px -546px #ff0077, 25.33333px -226px #ff00ae, 792.33333px -774px #ff0055, -396.66667px -741px #ff1500, 19.33333px -211px #9100ff, 610.33333px 148px #8800ff, -322.66667px 36px #ff0004, 422.33333px -985px #ff0004, 624.33333px -426px #ff4800, 179.33333px 23px #00f7ff, 713.33333px -559px #ff0095, -322.66667px -936px #ff00aa, -322.66667px 23px #ddff00, 727.33333px 191px #ffb700, 801.33333px -97px #3cff00, 903.33333px -753px #00ff6a, 313.33333px -738px #4800ff, -31.66667px 142px #00ff11, -142.66667px 60px #007bff, 713.33333px -261px #ff8000, 261.33333px -973px #00e6ff, 910.33333px -865px #00ffaa, -49.66667px -844px #0066ff, -282.66667px -751px #ff0015, -231.66667px -304px #ff000d, -141.66667px -165px #ff1e00, -164.66667px -723px #0080ff, -89.66667px 33px #004dff, -132.66667px -51px #00ffb7, 154.33333px -246px #ff007b, 24.33333px -472px #ff006f, 89.33333px -617px #00fbff, 39.33333px -351px #ffc400, 518.33333px -512px #00ffc4, 57.33333px -520px #00a2ff, 658.33333px -528px #0095ff, -431.66667px -141px #1eff00, -313.66667px 188px #00fffb, 22.33333px -500px #ff3700, -77.66667px 167px #0004ff, 717.33333px -747px #00ff15, -434.66667px -583px #ff0040, 557.33333px -222px #00d9ff, 556.33333px -879px #00ff4d, 437.33333px 148px #bf00ff, 269.33333px -696px #00eaff, -34.66667px -593px #d500ff, -338.66667px -495px #001aff, -391.66667px -24px #2f00ff, 234.33333px -557px #00ffa6, 671.33333px -905px #00b7ff, -257.66667px -949px #ff0037, -412.66667px -679px #ee00ff, -400.66667px -734px #00ffc4, 229.33333px -543px #003cff, 394.33333px -216px #b3ff00, -217.66667px -290px #00eeff, 694.33333px -950px #00ff5e, -77.66667px 79px #00ffc8, 281.33333px 190px #ff8400, 363.33333px 97px #00b3ff, -95.66667px -234px #00eeff, 291.33333px -772px #ff00ae, -424.66667px -544px #fb00ff, 303.33333px -570px #e600ff, 338.33333px -953px #ff00a2, 838.33333px -372px #4000ff, -115.66667px -264px #d500ff, 291.33333px -755px #fb00ff, 391.33333px -908px cyan, 122.33333px -866px #e100ff, -414.66667px -558px #ffd500, 376.33333px 54px #ff00d5, 691.33333px -572px #ff0066, -457.66667px -251px #fffb00, 541.33333px 18px #ff0022, 295.33333px -350px #00ffa2, 813.33333px -931px #00ff7b, -329.66667px -295px #ffe100, -418.66667px -1px #00ffdd, 751.33333px -116px #e6ff00, 370.33333px -593px #00ff9d, 308.33333px -234px #1aff00, 498.33333px -399px #00ff51, 382.33333px -626px #0037ff, -186.66667px 38px #00a6ff, -409.66667px 72px #5e00ff, 724.33333px -341px #004dff, 593.33333px -66px #00ff5e, 217.33333px -879px #ea00ff, 364.33333px -821px #7700ff, 503.33333px -403px #00ffae, -209.66667px -653px #00ff9d, 540.33333px -827px #6fff00, 729.33333px -127px #ff00e6, 348.33333px -915px #ff0400, 785.33333px -815px #ff004d, -283.66667px -966px #cc00ff, 294.33333px 124px #ff0026, -381.66667px -974px #ff009d, -395.66667px -592px #ff0022, -67.66667px -655px #fbff00, -237.66667px 120px #8400ff, 619.33333px -688px #5900ff, 597.33333px -943px #ffe100, 103.33333px -739px #f200ff, 170.33333px -291px #00ff62, 798.33333px -604px #ff4800, 421.33333px -683px #002bff, 353.33333px -336px blue, 330.33333px -421px #00ff26, -204.66667px -476px #00ff95, 435.33333px -705px #00ffd9, 267.33333px -670px #4d00ff, -141.66667px 97px #b700ff, 187.33333px -599px #00ffa2, 439.33333px -898px #0091ff, -64.66667px -806px #d900ff, -200.66667px -897px #00aeff, 856.33333px -92px #006fff, 392.33333px -805px #0051ff, 8.33333px -474px #ff0037, 848.33333px -313px #00ff37, 667.33333px 120px #a600ff, 665.33333px -294px #8cff00, 117.33333px -159px #2bff00, 8.33333px -748px #ff0080, -445.66667px -123px #0011ff, 810.33333px -963px #ff3300, 116.33333px -70px #0d00ff, -41.66667px 13px #0077ff, 739.33333px -897px #bf00ff, -171.66667px -87px #f200ff, 38.33333px 55px #00f7ff, 355.33333px 16px magenta, -218.66667px -849px #008cff; } }

@-ms-keyframes bang {
  to {
    box-shadow: 154.33333px 99px #003cff, -465.66667px -26px #006fff, 575.33333px -750px #e6ff00, 564.33333px 195px #ff0004, 760.33333px 51px #e600ff, 339.33333px -323px #ff0004, -402.66667px 140px #ff0026, -132.66667px -18px #b3ff00, -462.66667px -917px #ffb700, 611.33333px 126px #0033ff, -462.66667px 18px #ff2200, 879.33333px -44px #ffbf00, 97.33333px -865px #ee00ff, 553.33333px -991px #bb00ff, 274.33333px -917px #2600ff, -386.66667px -323px #00e6ff, 295.33333px -443px #ffea00, -383.66667px -372px #0011ff, 616.33333px -386px #0009ff, 688.33333px -831px #ff3700, 292.33333px -494px #ff00ee, -348.66667px -10px #9dff00, 151.33333px -455px #00b3ff, 180.33333px -991px #ffa600, 48.33333px 87px #ff8400, 376.33333px -11px #00ffc8, 16.33333px -130px #ff00f2, -359.66667px -859px #6aff00, 499.33333px -671px #ff0059, 788.33333px -964px #8c00ff, 218.33333px -126px #ff0900, 723.33333px -928px #0073ff, 405.33333px -487px #00ff77, 693.33333px -444px #006fff, 746.33333px -777px #00e1ff, 236.33333px -832px #0066ff, -426.66667px -951px #ffaa00, -98.66667px -799px #00ffe1, -107.66667px -558px #00ff99, 785.33333px -265px #ff0033, 167.33333px -520px #bbff00, -432.66667px -567px #0004ff, 110.33333px -275px #4d00ff, -28.66667px 173px #66ff00, 273.33333px -848px #6f00ff, -354.66667px -399px #aaff00, 404.33333px -714px #4400ff, 132.33333px -663px #0015ff, -319.66667px 67px #ffae00, -40.66667px -94px #c400ff, 399.33333px -697px #ff00e6, 181.33333px -266px #00ff0d, 506.33333px -324px #84ff00, 464.33333px -424px #f200ff, 195.33333px -475px #00fff7, 713.33333px -983px #73ff00, 236.33333px 144px #00ffa6, -362.66667px 123px #7bff00, -210.66667px 188px #ff8800, 259.33333px -255px #5e00ff, -419.66667px 148px #a600ff, -190.66667px -962px #0088ff, 515.33333px -680px #00eeff, 778.33333px 62px #ff0015, 723.33333px -881px #ff7b00, 669.33333px -546px #ff0077, 25.33333px -226px #ff00ae, 792.33333px -774px #ff0055, -396.66667px -741px #ff1500, 19.33333px -211px #9100ff, 610.33333px 148px #8800ff, -322.66667px 36px #ff0004, 422.33333px -985px #ff0004, 624.33333px -426px #ff4800, 179.33333px 23px #00f7ff, 713.33333px -559px #ff0095, -322.66667px -936px #ff00aa, -322.66667px 23px #ddff00, 727.33333px 191px #ffb700, 801.33333px -97px #3cff00, 903.33333px -753px #00ff6a, 313.33333px -738px #4800ff, -31.66667px 142px #00ff11, -142.66667px 60px #007bff, 713.33333px -261px #ff8000, 261.33333px -973px #00e6ff, 910.33333px -865px #00ffaa, -49.66667px -844px #0066ff, -282.66667px -751px #ff0015, -231.66667px -304px #ff000d, -141.66667px -165px #ff1e00, -164.66667px -723px #0080ff, -89.66667px 33px #004dff, -132.66667px -51px #00ffb7, 154.33333px -246px #ff007b, 24.33333px -472px #ff006f, 89.33333px -617px #00fbff, 39.33333px -351px #ffc400, 518.33333px -512px #00ffc4, 57.33333px -520px #00a2ff, 658.33333px -528px #0095ff, -431.66667px -141px #1eff00, -313.66667px 188px #00fffb, 22.33333px -500px #ff3700, -77.66667px 167px #0004ff, 717.33333px -747px #00ff15, -434.66667px -583px #ff0040, 557.33333px -222px #00d9ff, 556.33333px -879px #00ff4d, 437.33333px 148px #bf00ff, 269.33333px -696px #00eaff, -34.66667px -593px #d500ff, -338.66667px -495px #001aff, -391.66667px -24px #2f00ff, 234.33333px -557px #00ffa6, 671.33333px -905px #00b7ff, -257.66667px -949px #ff0037, -412.66667px -679px #ee00ff, -400.66667px -734px #00ffc4, 229.33333px -543px #003cff, 394.33333px -216px #b3ff00, -217.66667px -290px #00eeff, 694.33333px -950px #00ff5e, -77.66667px 79px #00ffc8, 281.33333px 190px #ff8400, 363.33333px 97px #00b3ff, -95.66667px -234px #00eeff, 291.33333px -772px #ff00ae, -424.66667px -544px #fb00ff, 303.33333px -570px #e600ff, 338.33333px -953px #ff00a2, 838.33333px -372px #4000ff, -115.66667px -264px #d500ff, 291.33333px -755px #fb00ff, 391.33333px -908px cyan, 122.33333px -866px #e100ff, -414.66667px -558px #ffd500, 376.33333px 54px #ff00d5, 691.33333px -572px #ff0066, -457.66667px -251px #fffb00, 541.33333px 18px #ff0022, 295.33333px -350px #00ffa2, 813.33333px -931px #00ff7b, -329.66667px -295px #ffe100, -418.66667px -1px #00ffdd, 751.33333px -116px #e6ff00, 370.33333px -593px #00ff9d, 308.33333px -234px #1aff00, 498.33333px -399px #00ff51, 382.33333px -626px #0037ff, -186.66667px 38px #00a6ff, -409.66667px 72px #5e00ff, 724.33333px -341px #004dff, 593.33333px -66px #00ff5e, 217.33333px -879px #ea00ff, 364.33333px -821px #7700ff, 503.33333px -403px #00ffae, -209.66667px -653px #00ff9d, 540.33333px -827px #6fff00, 729.33333px -127px #ff00e6, 348.33333px -915px #ff0400, 785.33333px -815px #ff004d, -283.66667px -966px #cc00ff, 294.33333px 124px #ff0026, -381.66667px -974px #ff009d, -395.66667px -592px #ff0022, -67.66667px -655px #fbff00, -237.66667px 120px #8400ff, 619.33333px -688px #5900ff, 597.33333px -943px #ffe100, 103.33333px -739px #f200ff, 170.33333px -291px #00ff62, 798.33333px -604px #ff4800, 421.33333px -683px #002bff, 353.33333px -336px blue, 330.33333px -421px #00ff26, -204.66667px -476px #00ff95, 435.33333px -705px #00ffd9, 267.33333px -670px #4d00ff, -141.66667px 97px #b700ff, 187.33333px -599px #00ffa2, 439.33333px -898px #0091ff, -64.66667px -806px #d900ff, -200.66667px -897px #00aeff, 856.33333px -92px #006fff, 392.33333px -805px #0051ff, 8.33333px -474px #ff0037, 848.33333px -313px #00ff37, 667.33333px 120px #a600ff, 665.33333px -294px #8cff00, 117.33333px -159px #2bff00, 8.33333px -748px #ff0080, -445.66667px -123px #0011ff, 810.33333px -963px #ff3300, 116.33333px -70px #0d00ff, -41.66667px 13px #0077ff, 739.33333px -897px #bf00ff, -171.66667px -87px #f200ff, 38.33333px 55px #00f7ff, 355.33333px 16px magenta, -218.66667px -849px #008cff; } }

@keyframes bang {
  to {
    box-shadow: 154.33333px 99px #003cff, -465.66667px -26px #006fff, 575.33333px -750px #e6ff00, 564.33333px 195px #ff0004, 760.33333px 51px #e600ff, 339.33333px -323px #ff0004, -402.66667px 140px #ff0026, -132.66667px -18px #b3ff00, -462.66667px -917px #ffb700, 611.33333px 126px #0033ff, -462.66667px 18px #ff2200, 879.33333px -44px #ffbf00, 97.33333px -865px #ee00ff, 553.33333px -991px #bb00ff, 274.33333px -917px #2600ff, -386.66667px -323px #00e6ff, 295.33333px -443px #ffea00, -383.66667px -372px #0011ff, 616.33333px -386px #0009ff, 688.33333px -831px #ff3700, 292.33333px -494px #ff00ee, -348.66667px -10px #9dff00, 151.33333px -455px #00b3ff, 180.33333px -991px #ffa600, 48.33333px 87px #ff8400, 376.33333px -11px #00ffc8, 16.33333px -130px #ff00f2, -359.66667px -859px #6aff00, 499.33333px -671px #ff0059, 788.33333px -964px #8c00ff, 218.33333px -126px #ff0900, 723.33333px -928px #0073ff, 405.33333px -487px #00ff77, 693.33333px -444px #006fff, 746.33333px -777px #00e1ff, 236.33333px -832px #0066ff, -426.66667px -951px #ffaa00, -98.66667px -799px #00ffe1, -107.66667px -558px #00ff99, 785.33333px -265px #ff0033, 167.33333px -520px #bbff00, -432.66667px -567px #0004ff, 110.33333px -275px #4d00ff, -28.66667px 173px #66ff00, 273.33333px -848px #6f00ff, -354.66667px -399px #aaff00, 404.33333px -714px #4400ff, 132.33333px -663px #0015ff, -319.66667px 67px #ffae00, -40.66667px -94px #c400ff, 399.33333px -697px #ff00e6, 181.33333px -266px #00ff0d, 506.33333px -324px #84ff00, 464.33333px -424px #f200ff, 195.33333px -475px #00fff7, 713.33333px -983px #73ff00, 236.33333px 144px #00ffa6, -362.66667px 123px #7bff00, -210.66667px 188px #ff8800, 259.33333px -255px #5e00ff, -419.66667px 148px #a600ff, -190.66667px -962px #0088ff, 515.33333px -680px #00eeff, 778.33333px 62px #ff0015, 723.33333px -881px #ff7b00, 669.33333px -546px #ff0077, 25.33333px -226px #ff00ae, 792.33333px -774px #ff0055, -396.66667px -741px #ff1500, 19.33333px -211px #9100ff, 610.33333px 148px #8800ff, -322.66667px 36px #ff0004, 422.33333px -985px #ff0004, 624.33333px -426px #ff4800, 179.33333px 23px #00f7ff, 713.33333px -559px #ff0095, -322.66667px -936px #ff00aa, -322.66667px 23px #ddff00, 727.33333px 191px #ffb700, 801.33333px -97px #3cff00, 903.33333px -753px #00ff6a, 313.33333px -738px #4800ff, -31.66667px 142px #00ff11, -142.66667px 60px #007bff, 713.33333px -261px #ff8000, 261.33333px -973px #00e6ff, 910.33333px -865px #00ffaa, -49.66667px -844px #0066ff, -282.66667px -751px #ff0015, -231.66667px -304px #ff000d, -141.66667px -165px #ff1e00, -164.66667px -723px #0080ff, -89.66667px 33px #004dff, -132.66667px -51px #00ffb7, 154.33333px -246px #ff007b, 24.33333px -472px #ff006f, 89.33333px -617px #00fbff, 39.33333px -351px #ffc400, 518.33333px -512px #00ffc4, 57.33333px -520px #00a2ff, 658.33333px -528px #0095ff, -431.66667px -141px #1eff00, -313.66667px 188px #00fffb, 22.33333px -500px #ff3700, -77.66667px 167px #0004ff, 717.33333px -747px #00ff15, -434.66667px -583px #ff0040, 557.33333px -222px #00d9ff, 556.33333px -879px #00ff4d, 437.33333px 148px #bf00ff, 269.33333px -696px #00eaff, -34.66667px -593px #d500ff, -338.66667px -495px #001aff, -391.66667px -24px #2f00ff, 234.33333px -557px #00ffa6, 671.33333px -905px #00b7ff, -257.66667px -949px #ff0037, -412.66667px -679px #ee00ff, -400.66667px -734px #00ffc4, 229.33333px -543px #003cff, 394.33333px -216px #b3ff00, -217.66667px -290px #00eeff, 694.33333px -950px #00ff5e, -77.66667px 79px #00ffc8, 281.33333px 190px #ff8400, 363.33333px 97px #00b3ff, -95.66667px -234px #00eeff, 291.33333px -772px #ff00ae, -424.66667px -544px #fb00ff, 303.33333px -570px #e600ff, 338.33333px -953px #ff00a2, 838.33333px -372px #4000ff, -115.66667px -264px #d500ff, 291.33333px -755px #fb00ff, 391.33333px -908px cyan, 122.33333px -866px #e100ff, -414.66667px -558px #ffd500, 376.33333px 54px #ff00d5, 691.33333px -572px #ff0066, -457.66667px -251px #fffb00, 541.33333px 18px #ff0022, 295.33333px -350px #00ffa2, 813.33333px -931px #00ff7b, -329.66667px -295px #ffe100, -418.66667px -1px #00ffdd, 751.33333px -116px #e6ff00, 370.33333px -593px #00ff9d, 308.33333px -234px #1aff00, 498.33333px -399px #00ff51, 382.33333px -626px #0037ff, -186.66667px 38px #00a6ff, -409.66667px 72px #5e00ff, 724.33333px -341px #004dff, 593.33333px -66px #00ff5e, 217.33333px -879px #ea00ff, 364.33333px -821px #7700ff, 503.33333px -403px #00ffae, -209.66667px -653px #00ff9d, 540.33333px -827px #6fff00, 729.33333px -127px #ff00e6, 348.33333px -915px #ff0400, 785.33333px -815px #ff004d, -283.66667px -966px #cc00ff, 294.33333px 124px #ff0026, -381.66667px -974px #ff009d, -395.66667px -592px #ff0022, -67.66667px -655px #fbff00, -237.66667px 120px #8400ff, 619.33333px -688px #5900ff, 597.33333px -943px #ffe100, 103.33333px -739px #f200ff, 170.33333px -291px #00ff62, 798.33333px -604px #ff4800, 421.33333px -683px #002bff, 353.33333px -336px blue, 330.33333px -421px #00ff26, -204.66667px -476px #00ff95, 435.33333px -705px #00ffd9, 267.33333px -670px #4d00ff, -141.66667px 97px #b700ff, 187.33333px -599px #00ffa2, 439.33333px -898px #0091ff, -64.66667px -806px #d900ff, -200.66667px -897px #00aeff, 856.33333px -92px #006fff, 392.33333px -805px #0051ff, 8.33333px -474px #ff0037, 848.33333px -313px #00ff37, 667.33333px 120px #a600ff, 665.33333px -294px #8cff00, 117.33333px -159px #2bff00, 8.33333px -748px #ff0080, -445.66667px -123px #0011ff, 810.33333px -963px #ff3300, 116.33333px -70px #0d00ff, -41.66667px 13px #0077ff, 739.33333px -897px #bf00ff, -171.66667px -87px #f200ff, 38.33333px 55px #00f7ff, 355.33333px 16px magenta, -218.66667px -849px #008cff; } }

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

.timer {
  display: inline;
  margin: 0 auto; }

.clock {
  font-size: 150%; }

.js-check {
  display: none;
  font-size: 70%;
  float: left; }

.nav {
  display: flex;
  padding: 2em;
  font-size: 140%;
  color: #3fa9f5; }

.nav-link {
  padding-right: 0.5em;
  text-transform: uppercase; }

.nav-items {
  display: flex; }

.nav-items-right {
  margin-left: auto; }

.nav-link-toggle {
  display: none; }

.nav-link-brand {
  color: #fff;
  vertical-align: baseline; }

.home-icon {
  position: relative;
  top: .125em;
  font-size: 120%;
  margin-right: .2em; }

@media only screen and (max-width: 768px) {
  .nav-items,
  .nav {
    flex-direction: column; }
  .nav-items {
    display: none; }
  .nav-items-right {
    margin-left: 0; }
  .nav-toggle-show {
    display: flex; }
  .nav-link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer; } }

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0; }

.flex-outer {
  max-width: 700px;
  margin-top: 3em; }

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.flex-inner {
  padding: 0 8px;
  justify-content: space-between; }

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px; }

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  text-transform: uppercase; }

.flex-outer > li > label input,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px; }

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px; }

.flex-outer li p {
  margin: 0; }

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px; }

.flex-inner li {
  width: 100px; }

input {
  border: 1px solid #3fa9f5;
  opacity: 0.7; }

input:focus {
  outline: none;
  border-color: #3fa9f5;
  box-shadow: 0 0 5px #3fa9f5; }

label {
  text-align: left;
  width: 125px; }

#results {
  display: none; }

.btn {
  display: inline-block;
  background-color: transparent;
  line-height: 3em;
  text-transform: uppercase;
  margin: 8px;
  padding: 0 15px;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: .08em;
  transition: all 1s ease; }

.btn:focus {
  outline: 0; }

.btn:after {
  content: "";
  position: absolute;
  height: 0;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: -1;
  transition: all .5s ease 0s; }

.btn:hover {
  color: #fff;
  text-shadow: none; }

.btn:hover:after {
  height: 100%; }

.btn-o-blue {
  border: 1px solid #3fa9f5; }

.btn-o-red {
  border: 1px solid #FF5C28; }

.btn.btn-fill:hover {
  border: 1px solid #303030; }

.btn.btn-fill:after {
  background: #303030;
  transform: translateX(-50%) translateY(-50%); }

.btn span.icon {
  margin-left: .2em;
  display: inline-flex;
  vertical-align: middle; }

/*# sourceMappingURL=style.css.map */