@import url("https://fonts.googleapis.com/css?family=Karla:400,700");
body {
  padding: 0;
  margin: 0;
  font-size: 110%;
  font-family: Karla, sans-serif;
  color: #303030;
  background: url("../images/bg.svg");
  background-size: auto 1100px;
  background-repeat: no-repeat; }

.container {
  margin: 0 auto;
  max-width: 960px;
  overflow: hidden; }

.title {
  text-transform: uppercase; }

a {
  color: #3fa9f5;
  text-decoration: none; }

.level {
  margin-bottom: 1.5em; }

.worksheet {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2em;
  margin: 0 2em 0 2em; }

@media (max-width: 1060px) {
  .worksheet {
    display: grid;
    grid-template-columns: repeat(8, 1fr); } }
@media (max-width: 780px) {
  .worksheet {
    display: grid;
    grid-template-columns: repeat(6, 1fr); } }
@media (max-width: 550px) {
  .worksheet {
    display: grid;
    grid-template-columns: repeat(4, 1fr); } }
.hero {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  height: 50%;
  color: #303030;
  text-transform: uppercase; }

@media (min-width: 576px) {
  .hero {
    padding: 4rem 2rem; } }
.columns-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 1.5em; }

@media (max-width: 768px) {
  .columns-3 {
    display: flex;
    flex-direction: column; } }
.card {
  height: 10em;
  color: #fff;
  background: #ffc628;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.27);
  transition: 0.5s; }

.card h1 {
  text-transform: uppercase;
  transition: 0.5s; }

.card a {
  font-size: 150%;
  transition: 0.5s; }

.card a:hover {
  color: #0a76c4; }

.card:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.66); }

@media (max-width: 780px) {
  .card {
    height: 8em;
    box-shadow: none;
    margin: 1em; }

  .card:hover {
    box-shadow: none; } }
.bold {
  font-weight: bold; }

.equation.stacked {
  max-width: 5em;
  display: inline-block;
  font-size: 160%; }

.equation.stacked .number {
  display: block;
  text-align: right; }

.equation.stacked .operator {
  float: left; }

.equation.stacked .equals {
  display: block;
  height: 0;
  border-bottom: solid 1px #2f1530;
  overflow: hidden; }

.answer {
  display: inline-block;
  text-align: right; }

.label {
  text-align: right; }

.input {
  width: 100%;
  font-size: 75%; }

.results {
  margin-top: 3em; }

#results {
  margin-left: 1em; }

.balloons {
  display: none; }

.balloon {
  position: fixed;
  overflow: hidden;
  transform: translateY(0px);
  animation: float 10s ease-in-out infinite;
  opacity: .5; }

#balloon2 {
  margin-left: 4em; }

#balloon3 {
  margin-top: 2em;
  margin-left: 8em; }

#balloon4 {
  margin-top: 3.5em;
  margin-left: 9em; }

#balloon5 {
  margin-top: 5em;
  margin-left: 7em; }

#balloon6 {
  margin-top: 6em;
  margin-left: 11em; }

@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-800px);
    opacity: 0; }
  100% {
    transform: translateY(-1200px);
    opacity: 0; } }
.firework {
  display: none; }

.firework > .before, .firework > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.firework > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: 342.3333333333px -195px #0048ff, 244.3333333333px -633px #b700ff, -271.6666666667px -965px #0066ff, 142.3333333333px -509px #3300ff, 152.3333333333px -89px #ff003c, 904.3333333333px 17px #ff001e, -448.6666666667px 121px #8000ff, -55.6666666667px -520px #ff0088, 98.3333333333px 130px #ff00d5, 307.3333333333px -307px #008cff, -98.6666666667px -22px #00b3ff, 741.3333333333px -219px #0022ff, 5.3333333333px -425px #0011ff, 512.3333333333px -442px #40ff00, 499.3333333333px -231px #005eff, 551.3333333333px -906px #00ddff, -401.6666666667px 112px #00ff84, 311.3333333333px -312px #bb00ff, 807.3333333333px -113px #00ff44, 254.3333333333px 179px #00ff8c, -101.6666666667px -637px #00ddff, 492.3333333333px -710px #ff0080, 84.3333333333px -419px #ff0095, -378.6666666667px -183px #00ff62, 563.3333333333px -243px #ff2200, 591.3333333333px -44px #ff4000, 168.3333333333px -924px #ff006a, -59.6666666667px -142px #73ff00, 896.3333333333px -129px #84ff00, 727.3333333333px 18px #ff1e00, 427.3333333333px -478px #ff002b, 30.3333333333px -45px #00f2ff, 677.3333333333px -525px #ff0066, 850.3333333333px -172px #f7ff00, 536.3333333333px -848px #b300ff, 572.3333333333px 26px #0055ff, 732.3333333333px 42px #00eeff, -395.6666666667px -648px #00ff88, 345.3333333333px -462px #00ffe1, -97.6666666667px 160px #ff0022, 757.3333333333px -960px #0026ff, 298.3333333333px -92px #ff6a00, -363.6666666667px -543px #ffe100, 718.3333333333px -753px #000dff, 154.3333333333px -675px #1eff00, 357.3333333333px -22px #ff0095, 835.3333333333px -556px #00a2ff, -462.6666666667px -378px #6200ff, -267.6666666667px -408px #00ffaa, 474.3333333333px -632px #ea00ff, 327.3333333333px -324px #a2ff00, -350.6666666667px -957px #1aff00, -335.6666666667px -495px #ff5e00, 351.3333333333px -676px #ff00f7, 313.3333333333px -500px #d900ff, -265.6666666667px -383px #26ff00, -185.6666666667px -674px #ff8400, -79.6666666667px -937px #00ff2f, 468.3333333333px -61px #00ff80, 244.3333333333px -869px #00d0ff, 252.3333333333px -481px #ffae00, 782.3333333333px -293px #66ff00, 766.3333333333px -691px #e6ff00, 297.3333333333px -959px #00ff73, 887.3333333333px 7px #00ffc4, 873.3333333333px -497px #4800ff, 795.3333333333px -417px #09ff00, -53.6666666667px -116px #ffc400, -142.6666666667px 38px #ff9d00, 887.3333333333px -525px #ff9d00, 130.3333333333px -647px #00ffbf, 259.3333333333px -540px #09ff00, -234.6666666667px -333px #d0ff00, -127.6666666667px -28px #aa00ff, 905.3333333333px -934px #3c00ff, 173.3333333333px -817px #ff7700, -44.6666666667px -618px #f7ff00, 607.3333333333px 133px #aa00ff, 740.3333333333px -109px #0084ff, -9.6666666667px -324px #6aff00, 553.3333333333px -260px #ff0055, 61.3333333333px -516px #00ff5e, -1.6666666667px -887px #002bff, 838.3333333333px -291px #9d00ff, 122.3333333333px -895px #04ff00, 650.3333333333px -524px #ff2600, 518.3333333333px 108px #ff00d5, 28.3333333333px 31px #ff6f00, -396.6666666667px 73px #00ff9d, 494.3333333333px -122px #4000ff, 152.3333333333px -15px #b7ff00, 727.3333333333px 187px #d900ff, 642.3333333333px -866px #ffea00, 222.3333333333px -603px #b300ff, 233.3333333333px -913px #8000ff, 912.3333333333px -659px #ff4800, -245.6666666667px -925px #fb00ff, -320.6666666667px -397px #ffbb00, 448.3333333333px -445px #95ff00, -313.6666666667px -229px #ccff00, 654.3333333333px -3px #8c00ff, 2.3333333333px -888px #2f00ff, 91.3333333333px -304px #1500ff, -417.6666666667px -378px #ff0066, 85.3333333333px -225px #00ff2f, -454.6666666667px -705px #b3ff00, 844.3333333333px -148px #ff00e6, -380.6666666667px -407px #ff3c00, 659.3333333333px -821px #ff5900, -271.6666666667px -161px #4000ff, -151.6666666667px -419px #d5ff00, -18.6666666667px -557px #00b3ff, 924.3333333333px -557px #00ff6a, -349.6666666667px -127px #2bff00, 382.3333333333px -5px #59ff00, 685.3333333333px -997px #001eff, -6.6666666667px -152px #0d00ff, 491.3333333333px -863px #003cff, 887.3333333333px 122px #ff5e00, 543.3333333333px -655px #8c00ff, -124.6666666667px -797px #ff0040, -383.6666666667px -948px #00ff2b, -343.6666666667px 186px #d500ff, 863.3333333333px -501px #006fff, -73.6666666667px -104px #0073ff, 688.3333333333px -787px #f700ff, 724.3333333333px -915px #0015ff, 448.3333333333px -668px #ff0091, 72.3333333333px -39px #009dff, 21.3333333333px -158px #ff00b3, -273.6666666667px 35px #00e6ff, 77.3333333333px -428px #00ffd0, 887.3333333333px -562px #0d00ff, 520.3333333333px -772px #80ff00, -256.6666666667px -70px #ff0095, 556.3333333333px 112px #0080ff, 667.3333333333px -313px #6200ff, -38.6666666667px -740px #00ff6f, 8.3333333333px -326px #0062ff, 370.3333333333px -909px #ffc800, 314.3333333333px -905px #00ffbf, 850.3333333333px -635px #6a00ff, 809.3333333333px -236px #4d00ff, 661.3333333333px -192px #9900ff, -456.6666666667px -246px #37ff00, 588.3333333333px -417px #c8ff00, 794.3333333333px -926px #ff6200, 100.3333333333px -67px #ff0095, 259.3333333333px -986px #00ff5e, -318.6666666667px -79px #ff00a2, 606.3333333333px -759px #00c4ff, -198.6666666667px -121px #ff0009, -339.6666666667px 115px #bbff00, -219.6666666667px -979px #001aff, 653.3333333333px 120px #0062ff, -233.6666666667px -98px #d5ff00, 111.3333333333px -849px #ff004d, 585.3333333333px -810px #1eff00, 730.3333333333px -633px #005eff, -445.6666666667px -166px #003cff, 783.3333333333px -611px #26ff00, 161.3333333333px -797px #eaff00, -85.6666666667px -845px #0099ff, 157.3333333333px -586px #00ffb7, 617.3333333333px -21px #55ff00, -166.6666666667px -368px #88ff00, 448.3333333333px -534px #ff2600, 412.3333333333px -917px #ff00ae, 503.3333333333px -641px #ff00e1, 872.3333333333px 31px #e100ff, -329.6666666667px -880px #ff2200, -259.6666666667px -219px #ff00c4, -387.6666666667px 59px yellow, 55.3333333333px -144px #ff00d9, 17.3333333333px -807px #1500ff, 725.3333333333px -538px #ff6600, 414.3333333333px -640px #ff4000, -350.6666666667px -265px #00ffaa, 146.3333333333px -556px #ffae00, 149.3333333333px 120px #ffbf00, -302.6666666667px -196px #00eeff, 275.3333333333px -406px #48ff00, 701.3333333333px -750px #ffbf00, 765.3333333333px -866px #00aaff, 282.3333333333px -817px #ff00f2, 348.3333333333px -72px #ff00fb, 271.3333333333px -340px #00ff95, -229.6666666667px 109px #ff0009, 503.3333333333px -902px #0084ff, 923.3333333333px -784px #003cff, 144.3333333333px -703px #6a00ff, -355.6666666667px 136px #ff5e00, 501.3333333333px -592px #00ff37, -368.6666666667px -465px #00a6ff, 257.3333333333px 33px #ff8400, -237.6666666667px -725px #00ff09, 681.3333333333px 10px #ff00e6, -98.6666666667px -62px #ff2600, 813.3333333333px -691px #6a00ff, 672.3333333333px 143px #15ff00, 572.3333333333px 15px #ee00ff; } }
@-moz-keyframes bang {
  to {
    box-shadow: 342.3333333333px -195px #0048ff, 244.3333333333px -633px #b700ff, -271.6666666667px -965px #0066ff, 142.3333333333px -509px #3300ff, 152.3333333333px -89px #ff003c, 904.3333333333px 17px #ff001e, -448.6666666667px 121px #8000ff, -55.6666666667px -520px #ff0088, 98.3333333333px 130px #ff00d5, 307.3333333333px -307px #008cff, -98.6666666667px -22px #00b3ff, 741.3333333333px -219px #0022ff, 5.3333333333px -425px #0011ff, 512.3333333333px -442px #40ff00, 499.3333333333px -231px #005eff, 551.3333333333px -906px #00ddff, -401.6666666667px 112px #00ff84, 311.3333333333px -312px #bb00ff, 807.3333333333px -113px #00ff44, 254.3333333333px 179px #00ff8c, -101.6666666667px -637px #00ddff, 492.3333333333px -710px #ff0080, 84.3333333333px -419px #ff0095, -378.6666666667px -183px #00ff62, 563.3333333333px -243px #ff2200, 591.3333333333px -44px #ff4000, 168.3333333333px -924px #ff006a, -59.6666666667px -142px #73ff00, 896.3333333333px -129px #84ff00, 727.3333333333px 18px #ff1e00, 427.3333333333px -478px #ff002b, 30.3333333333px -45px #00f2ff, 677.3333333333px -525px #ff0066, 850.3333333333px -172px #f7ff00, 536.3333333333px -848px #b300ff, 572.3333333333px 26px #0055ff, 732.3333333333px 42px #00eeff, -395.6666666667px -648px #00ff88, 345.3333333333px -462px #00ffe1, -97.6666666667px 160px #ff0022, 757.3333333333px -960px #0026ff, 298.3333333333px -92px #ff6a00, -363.6666666667px -543px #ffe100, 718.3333333333px -753px #000dff, 154.3333333333px -675px #1eff00, 357.3333333333px -22px #ff0095, 835.3333333333px -556px #00a2ff, -462.6666666667px -378px #6200ff, -267.6666666667px -408px #00ffaa, 474.3333333333px -632px #ea00ff, 327.3333333333px -324px #a2ff00, -350.6666666667px -957px #1aff00, -335.6666666667px -495px #ff5e00, 351.3333333333px -676px #ff00f7, 313.3333333333px -500px #d900ff, -265.6666666667px -383px #26ff00, -185.6666666667px -674px #ff8400, -79.6666666667px -937px #00ff2f, 468.3333333333px -61px #00ff80, 244.3333333333px -869px #00d0ff, 252.3333333333px -481px #ffae00, 782.3333333333px -293px #66ff00, 766.3333333333px -691px #e6ff00, 297.3333333333px -959px #00ff73, 887.3333333333px 7px #00ffc4, 873.3333333333px -497px #4800ff, 795.3333333333px -417px #09ff00, -53.6666666667px -116px #ffc400, -142.6666666667px 38px #ff9d00, 887.3333333333px -525px #ff9d00, 130.3333333333px -647px #00ffbf, 259.3333333333px -540px #09ff00, -234.6666666667px -333px #d0ff00, -127.6666666667px -28px #aa00ff, 905.3333333333px -934px #3c00ff, 173.3333333333px -817px #ff7700, -44.6666666667px -618px #f7ff00, 607.3333333333px 133px #aa00ff, 740.3333333333px -109px #0084ff, -9.6666666667px -324px #6aff00, 553.3333333333px -260px #ff0055, 61.3333333333px -516px #00ff5e, -1.6666666667px -887px #002bff, 838.3333333333px -291px #9d00ff, 122.3333333333px -895px #04ff00, 650.3333333333px -524px #ff2600, 518.3333333333px 108px #ff00d5, 28.3333333333px 31px #ff6f00, -396.6666666667px 73px #00ff9d, 494.3333333333px -122px #4000ff, 152.3333333333px -15px #b7ff00, 727.3333333333px 187px #d900ff, 642.3333333333px -866px #ffea00, 222.3333333333px -603px #b300ff, 233.3333333333px -913px #8000ff, 912.3333333333px -659px #ff4800, -245.6666666667px -925px #fb00ff, -320.6666666667px -397px #ffbb00, 448.3333333333px -445px #95ff00, -313.6666666667px -229px #ccff00, 654.3333333333px -3px #8c00ff, 2.3333333333px -888px #2f00ff, 91.3333333333px -304px #1500ff, -417.6666666667px -378px #ff0066, 85.3333333333px -225px #00ff2f, -454.6666666667px -705px #b3ff00, 844.3333333333px -148px #ff00e6, -380.6666666667px -407px #ff3c00, 659.3333333333px -821px #ff5900, -271.6666666667px -161px #4000ff, -151.6666666667px -419px #d5ff00, -18.6666666667px -557px #00b3ff, 924.3333333333px -557px #00ff6a, -349.6666666667px -127px #2bff00, 382.3333333333px -5px #59ff00, 685.3333333333px -997px #001eff, -6.6666666667px -152px #0d00ff, 491.3333333333px -863px #003cff, 887.3333333333px 122px #ff5e00, 543.3333333333px -655px #8c00ff, -124.6666666667px -797px #ff0040, -383.6666666667px -948px #00ff2b, -343.6666666667px 186px #d500ff, 863.3333333333px -501px #006fff, -73.6666666667px -104px #0073ff, 688.3333333333px -787px #f700ff, 724.3333333333px -915px #0015ff, 448.3333333333px -668px #ff0091, 72.3333333333px -39px #009dff, 21.3333333333px -158px #ff00b3, -273.6666666667px 35px #00e6ff, 77.3333333333px -428px #00ffd0, 887.3333333333px -562px #0d00ff, 520.3333333333px -772px #80ff00, -256.6666666667px -70px #ff0095, 556.3333333333px 112px #0080ff, 667.3333333333px -313px #6200ff, -38.6666666667px -740px #00ff6f, 8.3333333333px -326px #0062ff, 370.3333333333px -909px #ffc800, 314.3333333333px -905px #00ffbf, 850.3333333333px -635px #6a00ff, 809.3333333333px -236px #4d00ff, 661.3333333333px -192px #9900ff, -456.6666666667px -246px #37ff00, 588.3333333333px -417px #c8ff00, 794.3333333333px -926px #ff6200, 100.3333333333px -67px #ff0095, 259.3333333333px -986px #00ff5e, -318.6666666667px -79px #ff00a2, 606.3333333333px -759px #00c4ff, -198.6666666667px -121px #ff0009, -339.6666666667px 115px #bbff00, -219.6666666667px -979px #001aff, 653.3333333333px 120px #0062ff, -233.6666666667px -98px #d5ff00, 111.3333333333px -849px #ff004d, 585.3333333333px -810px #1eff00, 730.3333333333px -633px #005eff, -445.6666666667px -166px #003cff, 783.3333333333px -611px #26ff00, 161.3333333333px -797px #eaff00, -85.6666666667px -845px #0099ff, 157.3333333333px -586px #00ffb7, 617.3333333333px -21px #55ff00, -166.6666666667px -368px #88ff00, 448.3333333333px -534px #ff2600, 412.3333333333px -917px #ff00ae, 503.3333333333px -641px #ff00e1, 872.3333333333px 31px #e100ff, -329.6666666667px -880px #ff2200, -259.6666666667px -219px #ff00c4, -387.6666666667px 59px yellow, 55.3333333333px -144px #ff00d9, 17.3333333333px -807px #1500ff, 725.3333333333px -538px #ff6600, 414.3333333333px -640px #ff4000, -350.6666666667px -265px #00ffaa, 146.3333333333px -556px #ffae00, 149.3333333333px 120px #ffbf00, -302.6666666667px -196px #00eeff, 275.3333333333px -406px #48ff00, 701.3333333333px -750px #ffbf00, 765.3333333333px -866px #00aaff, 282.3333333333px -817px #ff00f2, 348.3333333333px -72px #ff00fb, 271.3333333333px -340px #00ff95, -229.6666666667px 109px #ff0009, 503.3333333333px -902px #0084ff, 923.3333333333px -784px #003cff, 144.3333333333px -703px #6a00ff, -355.6666666667px 136px #ff5e00, 501.3333333333px -592px #00ff37, -368.6666666667px -465px #00a6ff, 257.3333333333px 33px #ff8400, -237.6666666667px -725px #00ff09, 681.3333333333px 10px #ff00e6, -98.6666666667px -62px #ff2600, 813.3333333333px -691px #6a00ff, 672.3333333333px 143px #15ff00, 572.3333333333px 15px #ee00ff; } }
@-o-keyframes bang {
  to {
    box-shadow: 342.3333333333px -195px #0048ff, 244.3333333333px -633px #b700ff, -271.6666666667px -965px #0066ff, 142.3333333333px -509px #3300ff, 152.3333333333px -89px #ff003c, 904.3333333333px 17px #ff001e, -448.6666666667px 121px #8000ff, -55.6666666667px -520px #ff0088, 98.3333333333px 130px #ff00d5, 307.3333333333px -307px #008cff, -98.6666666667px -22px #00b3ff, 741.3333333333px -219px #0022ff, 5.3333333333px -425px #0011ff, 512.3333333333px -442px #40ff00, 499.3333333333px -231px #005eff, 551.3333333333px -906px #00ddff, -401.6666666667px 112px #00ff84, 311.3333333333px -312px #bb00ff, 807.3333333333px -113px #00ff44, 254.3333333333px 179px #00ff8c, -101.6666666667px -637px #00ddff, 492.3333333333px -710px #ff0080, 84.3333333333px -419px #ff0095, -378.6666666667px -183px #00ff62, 563.3333333333px -243px #ff2200, 591.3333333333px -44px #ff4000, 168.3333333333px -924px #ff006a, -59.6666666667px -142px #73ff00, 896.3333333333px -129px #84ff00, 727.3333333333px 18px #ff1e00, 427.3333333333px -478px #ff002b, 30.3333333333px -45px #00f2ff, 677.3333333333px -525px #ff0066, 850.3333333333px -172px #f7ff00, 536.3333333333px -848px #b300ff, 572.3333333333px 26px #0055ff, 732.3333333333px 42px #00eeff, -395.6666666667px -648px #00ff88, 345.3333333333px -462px #00ffe1, -97.6666666667px 160px #ff0022, 757.3333333333px -960px #0026ff, 298.3333333333px -92px #ff6a00, -363.6666666667px -543px #ffe100, 718.3333333333px -753px #000dff, 154.3333333333px -675px #1eff00, 357.3333333333px -22px #ff0095, 835.3333333333px -556px #00a2ff, -462.6666666667px -378px #6200ff, -267.6666666667px -408px #00ffaa, 474.3333333333px -632px #ea00ff, 327.3333333333px -324px #a2ff00, -350.6666666667px -957px #1aff00, -335.6666666667px -495px #ff5e00, 351.3333333333px -676px #ff00f7, 313.3333333333px -500px #d900ff, -265.6666666667px -383px #26ff00, -185.6666666667px -674px #ff8400, -79.6666666667px -937px #00ff2f, 468.3333333333px -61px #00ff80, 244.3333333333px -869px #00d0ff, 252.3333333333px -481px #ffae00, 782.3333333333px -293px #66ff00, 766.3333333333px -691px #e6ff00, 297.3333333333px -959px #00ff73, 887.3333333333px 7px #00ffc4, 873.3333333333px -497px #4800ff, 795.3333333333px -417px #09ff00, -53.6666666667px -116px #ffc400, -142.6666666667px 38px #ff9d00, 887.3333333333px -525px #ff9d00, 130.3333333333px -647px #00ffbf, 259.3333333333px -540px #09ff00, -234.6666666667px -333px #d0ff00, -127.6666666667px -28px #aa00ff, 905.3333333333px -934px #3c00ff, 173.3333333333px -817px #ff7700, -44.6666666667px -618px #f7ff00, 607.3333333333px 133px #aa00ff, 740.3333333333px -109px #0084ff, -9.6666666667px -324px #6aff00, 553.3333333333px -260px #ff0055, 61.3333333333px -516px #00ff5e, -1.6666666667px -887px #002bff, 838.3333333333px -291px #9d00ff, 122.3333333333px -895px #04ff00, 650.3333333333px -524px #ff2600, 518.3333333333px 108px #ff00d5, 28.3333333333px 31px #ff6f00, -396.6666666667px 73px #00ff9d, 494.3333333333px -122px #4000ff, 152.3333333333px -15px #b7ff00, 727.3333333333px 187px #d900ff, 642.3333333333px -866px #ffea00, 222.3333333333px -603px #b300ff, 233.3333333333px -913px #8000ff, 912.3333333333px -659px #ff4800, -245.6666666667px -925px #fb00ff, -320.6666666667px -397px #ffbb00, 448.3333333333px -445px #95ff00, -313.6666666667px -229px #ccff00, 654.3333333333px -3px #8c00ff, 2.3333333333px -888px #2f00ff, 91.3333333333px -304px #1500ff, -417.6666666667px -378px #ff0066, 85.3333333333px -225px #00ff2f, -454.6666666667px -705px #b3ff00, 844.3333333333px -148px #ff00e6, -380.6666666667px -407px #ff3c00, 659.3333333333px -821px #ff5900, -271.6666666667px -161px #4000ff, -151.6666666667px -419px #d5ff00, -18.6666666667px -557px #00b3ff, 924.3333333333px -557px #00ff6a, -349.6666666667px -127px #2bff00, 382.3333333333px -5px #59ff00, 685.3333333333px -997px #001eff, -6.6666666667px -152px #0d00ff, 491.3333333333px -863px #003cff, 887.3333333333px 122px #ff5e00, 543.3333333333px -655px #8c00ff, -124.6666666667px -797px #ff0040, -383.6666666667px -948px #00ff2b, -343.6666666667px 186px #d500ff, 863.3333333333px -501px #006fff, -73.6666666667px -104px #0073ff, 688.3333333333px -787px #f700ff, 724.3333333333px -915px #0015ff, 448.3333333333px -668px #ff0091, 72.3333333333px -39px #009dff, 21.3333333333px -158px #ff00b3, -273.6666666667px 35px #00e6ff, 77.3333333333px -428px #00ffd0, 887.3333333333px -562px #0d00ff, 520.3333333333px -772px #80ff00, -256.6666666667px -70px #ff0095, 556.3333333333px 112px #0080ff, 667.3333333333px -313px #6200ff, -38.6666666667px -740px #00ff6f, 8.3333333333px -326px #0062ff, 370.3333333333px -909px #ffc800, 314.3333333333px -905px #00ffbf, 850.3333333333px -635px #6a00ff, 809.3333333333px -236px #4d00ff, 661.3333333333px -192px #9900ff, -456.6666666667px -246px #37ff00, 588.3333333333px -417px #c8ff00, 794.3333333333px -926px #ff6200, 100.3333333333px -67px #ff0095, 259.3333333333px -986px #00ff5e, -318.6666666667px -79px #ff00a2, 606.3333333333px -759px #00c4ff, -198.6666666667px -121px #ff0009, -339.6666666667px 115px #bbff00, -219.6666666667px -979px #001aff, 653.3333333333px 120px #0062ff, -233.6666666667px -98px #d5ff00, 111.3333333333px -849px #ff004d, 585.3333333333px -810px #1eff00, 730.3333333333px -633px #005eff, -445.6666666667px -166px #003cff, 783.3333333333px -611px #26ff00, 161.3333333333px -797px #eaff00, -85.6666666667px -845px #0099ff, 157.3333333333px -586px #00ffb7, 617.3333333333px -21px #55ff00, -166.6666666667px -368px #88ff00, 448.3333333333px -534px #ff2600, 412.3333333333px -917px #ff00ae, 503.3333333333px -641px #ff00e1, 872.3333333333px 31px #e100ff, -329.6666666667px -880px #ff2200, -259.6666666667px -219px #ff00c4, -387.6666666667px 59px yellow, 55.3333333333px -144px #ff00d9, 17.3333333333px -807px #1500ff, 725.3333333333px -538px #ff6600, 414.3333333333px -640px #ff4000, -350.6666666667px -265px #00ffaa, 146.3333333333px -556px #ffae00, 149.3333333333px 120px #ffbf00, -302.6666666667px -196px #00eeff, 275.3333333333px -406px #48ff00, 701.3333333333px -750px #ffbf00, 765.3333333333px -866px #00aaff, 282.3333333333px -817px #ff00f2, 348.3333333333px -72px #ff00fb, 271.3333333333px -340px #00ff95, -229.6666666667px 109px #ff0009, 503.3333333333px -902px #0084ff, 923.3333333333px -784px #003cff, 144.3333333333px -703px #6a00ff, -355.6666666667px 136px #ff5e00, 501.3333333333px -592px #00ff37, -368.6666666667px -465px #00a6ff, 257.3333333333px 33px #ff8400, -237.6666666667px -725px #00ff09, 681.3333333333px 10px #ff00e6, -98.6666666667px -62px #ff2600, 813.3333333333px -691px #6a00ff, 672.3333333333px 143px #15ff00, 572.3333333333px 15px #ee00ff; } }
@-ms-keyframes bang {
  to {
    box-shadow: 342.3333333333px -195px #0048ff, 244.3333333333px -633px #b700ff, -271.6666666667px -965px #0066ff, 142.3333333333px -509px #3300ff, 152.3333333333px -89px #ff003c, 904.3333333333px 17px #ff001e, -448.6666666667px 121px #8000ff, -55.6666666667px -520px #ff0088, 98.3333333333px 130px #ff00d5, 307.3333333333px -307px #008cff, -98.6666666667px -22px #00b3ff, 741.3333333333px -219px #0022ff, 5.3333333333px -425px #0011ff, 512.3333333333px -442px #40ff00, 499.3333333333px -231px #005eff, 551.3333333333px -906px #00ddff, -401.6666666667px 112px #00ff84, 311.3333333333px -312px #bb00ff, 807.3333333333px -113px #00ff44, 254.3333333333px 179px #00ff8c, -101.6666666667px -637px #00ddff, 492.3333333333px -710px #ff0080, 84.3333333333px -419px #ff0095, -378.6666666667px -183px #00ff62, 563.3333333333px -243px #ff2200, 591.3333333333px -44px #ff4000, 168.3333333333px -924px #ff006a, -59.6666666667px -142px #73ff00, 896.3333333333px -129px #84ff00, 727.3333333333px 18px #ff1e00, 427.3333333333px -478px #ff002b, 30.3333333333px -45px #00f2ff, 677.3333333333px -525px #ff0066, 850.3333333333px -172px #f7ff00, 536.3333333333px -848px #b300ff, 572.3333333333px 26px #0055ff, 732.3333333333px 42px #00eeff, -395.6666666667px -648px #00ff88, 345.3333333333px -462px #00ffe1, -97.6666666667px 160px #ff0022, 757.3333333333px -960px #0026ff, 298.3333333333px -92px #ff6a00, -363.6666666667px -543px #ffe100, 718.3333333333px -753px #000dff, 154.3333333333px -675px #1eff00, 357.3333333333px -22px #ff0095, 835.3333333333px -556px #00a2ff, -462.6666666667px -378px #6200ff, -267.6666666667px -408px #00ffaa, 474.3333333333px -632px #ea00ff, 327.3333333333px -324px #a2ff00, -350.6666666667px -957px #1aff00, -335.6666666667px -495px #ff5e00, 351.3333333333px -676px #ff00f7, 313.3333333333px -500px #d900ff, -265.6666666667px -383px #26ff00, -185.6666666667px -674px #ff8400, -79.6666666667px -937px #00ff2f, 468.3333333333px -61px #00ff80, 244.3333333333px -869px #00d0ff, 252.3333333333px -481px #ffae00, 782.3333333333px -293px #66ff00, 766.3333333333px -691px #e6ff00, 297.3333333333px -959px #00ff73, 887.3333333333px 7px #00ffc4, 873.3333333333px -497px #4800ff, 795.3333333333px -417px #09ff00, -53.6666666667px -116px #ffc400, -142.6666666667px 38px #ff9d00, 887.3333333333px -525px #ff9d00, 130.3333333333px -647px #00ffbf, 259.3333333333px -540px #09ff00, -234.6666666667px -333px #d0ff00, -127.6666666667px -28px #aa00ff, 905.3333333333px -934px #3c00ff, 173.3333333333px -817px #ff7700, -44.6666666667px -618px #f7ff00, 607.3333333333px 133px #aa00ff, 740.3333333333px -109px #0084ff, -9.6666666667px -324px #6aff00, 553.3333333333px -260px #ff0055, 61.3333333333px -516px #00ff5e, -1.6666666667px -887px #002bff, 838.3333333333px -291px #9d00ff, 122.3333333333px -895px #04ff00, 650.3333333333px -524px #ff2600, 518.3333333333px 108px #ff00d5, 28.3333333333px 31px #ff6f00, -396.6666666667px 73px #00ff9d, 494.3333333333px -122px #4000ff, 152.3333333333px -15px #b7ff00, 727.3333333333px 187px #d900ff, 642.3333333333px -866px #ffea00, 222.3333333333px -603px #b300ff, 233.3333333333px -913px #8000ff, 912.3333333333px -659px #ff4800, -245.6666666667px -925px #fb00ff, -320.6666666667px -397px #ffbb00, 448.3333333333px -445px #95ff00, -313.6666666667px -229px #ccff00, 654.3333333333px -3px #8c00ff, 2.3333333333px -888px #2f00ff, 91.3333333333px -304px #1500ff, -417.6666666667px -378px #ff0066, 85.3333333333px -225px #00ff2f, -454.6666666667px -705px #b3ff00, 844.3333333333px -148px #ff00e6, -380.6666666667px -407px #ff3c00, 659.3333333333px -821px #ff5900, -271.6666666667px -161px #4000ff, -151.6666666667px -419px #d5ff00, -18.6666666667px -557px #00b3ff, 924.3333333333px -557px #00ff6a, -349.6666666667px -127px #2bff00, 382.3333333333px -5px #59ff00, 685.3333333333px -997px #001eff, -6.6666666667px -152px #0d00ff, 491.3333333333px -863px #003cff, 887.3333333333px 122px #ff5e00, 543.3333333333px -655px #8c00ff, -124.6666666667px -797px #ff0040, -383.6666666667px -948px #00ff2b, -343.6666666667px 186px #d500ff, 863.3333333333px -501px #006fff, -73.6666666667px -104px #0073ff, 688.3333333333px -787px #f700ff, 724.3333333333px -915px #0015ff, 448.3333333333px -668px #ff0091, 72.3333333333px -39px #009dff, 21.3333333333px -158px #ff00b3, -273.6666666667px 35px #00e6ff, 77.3333333333px -428px #00ffd0, 887.3333333333px -562px #0d00ff, 520.3333333333px -772px #80ff00, -256.6666666667px -70px #ff0095, 556.3333333333px 112px #0080ff, 667.3333333333px -313px #6200ff, -38.6666666667px -740px #00ff6f, 8.3333333333px -326px #0062ff, 370.3333333333px -909px #ffc800, 314.3333333333px -905px #00ffbf, 850.3333333333px -635px #6a00ff, 809.3333333333px -236px #4d00ff, 661.3333333333px -192px #9900ff, -456.6666666667px -246px #37ff00, 588.3333333333px -417px #c8ff00, 794.3333333333px -926px #ff6200, 100.3333333333px -67px #ff0095, 259.3333333333px -986px #00ff5e, -318.6666666667px -79px #ff00a2, 606.3333333333px -759px #00c4ff, -198.6666666667px -121px #ff0009, -339.6666666667px 115px #bbff00, -219.6666666667px -979px #001aff, 653.3333333333px 120px #0062ff, -233.6666666667px -98px #d5ff00, 111.3333333333px -849px #ff004d, 585.3333333333px -810px #1eff00, 730.3333333333px -633px #005eff, -445.6666666667px -166px #003cff, 783.3333333333px -611px #26ff00, 161.3333333333px -797px #eaff00, -85.6666666667px -845px #0099ff, 157.3333333333px -586px #00ffb7, 617.3333333333px -21px #55ff00, -166.6666666667px -368px #88ff00, 448.3333333333px -534px #ff2600, 412.3333333333px -917px #ff00ae, 503.3333333333px -641px #ff00e1, 872.3333333333px 31px #e100ff, -329.6666666667px -880px #ff2200, -259.6666666667px -219px #ff00c4, -387.6666666667px 59px yellow, 55.3333333333px -144px #ff00d9, 17.3333333333px -807px #1500ff, 725.3333333333px -538px #ff6600, 414.3333333333px -640px #ff4000, -350.6666666667px -265px #00ffaa, 146.3333333333px -556px #ffae00, 149.3333333333px 120px #ffbf00, -302.6666666667px -196px #00eeff, 275.3333333333px -406px #48ff00, 701.3333333333px -750px #ffbf00, 765.3333333333px -866px #00aaff, 282.3333333333px -817px #ff00f2, 348.3333333333px -72px #ff00fb, 271.3333333333px -340px #00ff95, -229.6666666667px 109px #ff0009, 503.3333333333px -902px #0084ff, 923.3333333333px -784px #003cff, 144.3333333333px -703px #6a00ff, -355.6666666667px 136px #ff5e00, 501.3333333333px -592px #00ff37, -368.6666666667px -465px #00a6ff, 257.3333333333px 33px #ff8400, -237.6666666667px -725px #00ff09, 681.3333333333px 10px #ff00e6, -98.6666666667px -62px #ff2600, 813.3333333333px -691px #6a00ff, 672.3333333333px 143px #15ff00, 572.3333333333px 15px #ee00ff; } }
@keyframes bang {
  to {
    box-shadow: 342.3333333333px -195px #0048ff, 244.3333333333px -633px #b700ff, -271.6666666667px -965px #0066ff, 142.3333333333px -509px #3300ff, 152.3333333333px -89px #ff003c, 904.3333333333px 17px #ff001e, -448.6666666667px 121px #8000ff, -55.6666666667px -520px #ff0088, 98.3333333333px 130px #ff00d5, 307.3333333333px -307px #008cff, -98.6666666667px -22px #00b3ff, 741.3333333333px -219px #0022ff, 5.3333333333px -425px #0011ff, 512.3333333333px -442px #40ff00, 499.3333333333px -231px #005eff, 551.3333333333px -906px #00ddff, -401.6666666667px 112px #00ff84, 311.3333333333px -312px #bb00ff, 807.3333333333px -113px #00ff44, 254.3333333333px 179px #00ff8c, -101.6666666667px -637px #00ddff, 492.3333333333px -710px #ff0080, 84.3333333333px -419px #ff0095, -378.6666666667px -183px #00ff62, 563.3333333333px -243px #ff2200, 591.3333333333px -44px #ff4000, 168.3333333333px -924px #ff006a, -59.6666666667px -142px #73ff00, 896.3333333333px -129px #84ff00, 727.3333333333px 18px #ff1e00, 427.3333333333px -478px #ff002b, 30.3333333333px -45px #00f2ff, 677.3333333333px -525px #ff0066, 850.3333333333px -172px #f7ff00, 536.3333333333px -848px #b300ff, 572.3333333333px 26px #0055ff, 732.3333333333px 42px #00eeff, -395.6666666667px -648px #00ff88, 345.3333333333px -462px #00ffe1, -97.6666666667px 160px #ff0022, 757.3333333333px -960px #0026ff, 298.3333333333px -92px #ff6a00, -363.6666666667px -543px #ffe100, 718.3333333333px -753px #000dff, 154.3333333333px -675px #1eff00, 357.3333333333px -22px #ff0095, 835.3333333333px -556px #00a2ff, -462.6666666667px -378px #6200ff, -267.6666666667px -408px #00ffaa, 474.3333333333px -632px #ea00ff, 327.3333333333px -324px #a2ff00, -350.6666666667px -957px #1aff00, -335.6666666667px -495px #ff5e00, 351.3333333333px -676px #ff00f7, 313.3333333333px -500px #d900ff, -265.6666666667px -383px #26ff00, -185.6666666667px -674px #ff8400, -79.6666666667px -937px #00ff2f, 468.3333333333px -61px #00ff80, 244.3333333333px -869px #00d0ff, 252.3333333333px -481px #ffae00, 782.3333333333px -293px #66ff00, 766.3333333333px -691px #e6ff00, 297.3333333333px -959px #00ff73, 887.3333333333px 7px #00ffc4, 873.3333333333px -497px #4800ff, 795.3333333333px -417px #09ff00, -53.6666666667px -116px #ffc400, -142.6666666667px 38px #ff9d00, 887.3333333333px -525px #ff9d00, 130.3333333333px -647px #00ffbf, 259.3333333333px -540px #09ff00, -234.6666666667px -333px #d0ff00, -127.6666666667px -28px #aa00ff, 905.3333333333px -934px #3c00ff, 173.3333333333px -817px #ff7700, -44.6666666667px -618px #f7ff00, 607.3333333333px 133px #aa00ff, 740.3333333333px -109px #0084ff, -9.6666666667px -324px #6aff00, 553.3333333333px -260px #ff0055, 61.3333333333px -516px #00ff5e, -1.6666666667px -887px #002bff, 838.3333333333px -291px #9d00ff, 122.3333333333px -895px #04ff00, 650.3333333333px -524px #ff2600, 518.3333333333px 108px #ff00d5, 28.3333333333px 31px #ff6f00, -396.6666666667px 73px #00ff9d, 494.3333333333px -122px #4000ff, 152.3333333333px -15px #b7ff00, 727.3333333333px 187px #d900ff, 642.3333333333px -866px #ffea00, 222.3333333333px -603px #b300ff, 233.3333333333px -913px #8000ff, 912.3333333333px -659px #ff4800, -245.6666666667px -925px #fb00ff, -320.6666666667px -397px #ffbb00, 448.3333333333px -445px #95ff00, -313.6666666667px -229px #ccff00, 654.3333333333px -3px #8c00ff, 2.3333333333px -888px #2f00ff, 91.3333333333px -304px #1500ff, -417.6666666667px -378px #ff0066, 85.3333333333px -225px #00ff2f, -454.6666666667px -705px #b3ff00, 844.3333333333px -148px #ff00e6, -380.6666666667px -407px #ff3c00, 659.3333333333px -821px #ff5900, -271.6666666667px -161px #4000ff, -151.6666666667px -419px #d5ff00, -18.6666666667px -557px #00b3ff, 924.3333333333px -557px #00ff6a, -349.6666666667px -127px #2bff00, 382.3333333333px -5px #59ff00, 685.3333333333px -997px #001eff, -6.6666666667px -152px #0d00ff, 491.3333333333px -863px #003cff, 887.3333333333px 122px #ff5e00, 543.3333333333px -655px #8c00ff, -124.6666666667px -797px #ff0040, -383.6666666667px -948px #00ff2b, -343.6666666667px 186px #d500ff, 863.3333333333px -501px #006fff, -73.6666666667px -104px #0073ff, 688.3333333333px -787px #f700ff, 724.3333333333px -915px #0015ff, 448.3333333333px -668px #ff0091, 72.3333333333px -39px #009dff, 21.3333333333px -158px #ff00b3, -273.6666666667px 35px #00e6ff, 77.3333333333px -428px #00ffd0, 887.3333333333px -562px #0d00ff, 520.3333333333px -772px #80ff00, -256.6666666667px -70px #ff0095, 556.3333333333px 112px #0080ff, 667.3333333333px -313px #6200ff, -38.6666666667px -740px #00ff6f, 8.3333333333px -326px #0062ff, 370.3333333333px -909px #ffc800, 314.3333333333px -905px #00ffbf, 850.3333333333px -635px #6a00ff, 809.3333333333px -236px #4d00ff, 661.3333333333px -192px #9900ff, -456.6666666667px -246px #37ff00, 588.3333333333px -417px #c8ff00, 794.3333333333px -926px #ff6200, 100.3333333333px -67px #ff0095, 259.3333333333px -986px #00ff5e, -318.6666666667px -79px #ff00a2, 606.3333333333px -759px #00c4ff, -198.6666666667px -121px #ff0009, -339.6666666667px 115px #bbff00, -219.6666666667px -979px #001aff, 653.3333333333px 120px #0062ff, -233.6666666667px -98px #d5ff00, 111.3333333333px -849px #ff004d, 585.3333333333px -810px #1eff00, 730.3333333333px -633px #005eff, -445.6666666667px -166px #003cff, 783.3333333333px -611px #26ff00, 161.3333333333px -797px #eaff00, -85.6666666667px -845px #0099ff, 157.3333333333px -586px #00ffb7, 617.3333333333px -21px #55ff00, -166.6666666667px -368px #88ff00, 448.3333333333px -534px #ff2600, 412.3333333333px -917px #ff00ae, 503.3333333333px -641px #ff00e1, 872.3333333333px 31px #e100ff, -329.6666666667px -880px #ff2200, -259.6666666667px -219px #ff00c4, -387.6666666667px 59px yellow, 55.3333333333px -144px #ff00d9, 17.3333333333px -807px #1500ff, 725.3333333333px -538px #ff6600, 414.3333333333px -640px #ff4000, -350.6666666667px -265px #00ffaa, 146.3333333333px -556px #ffae00, 149.3333333333px 120px #ffbf00, -302.6666666667px -196px #00eeff, 275.3333333333px -406px #48ff00, 701.3333333333px -750px #ffbf00, 765.3333333333px -866px #00aaff, 282.3333333333px -817px #ff00f2, 348.3333333333px -72px #ff00fb, 271.3333333333px -340px #00ff95, -229.6666666667px 109px #ff0009, 503.3333333333px -902px #0084ff, 923.3333333333px -784px #003cff, 144.3333333333px -703px #6a00ff, -355.6666666667px 136px #ff5e00, 501.3333333333px -592px #00ff37, -368.6666666667px -465px #00a6ff, 257.3333333333px 33px #ff8400, -237.6666666667px -725px #00ff09, 681.3333333333px 10px #ff00e6, -98.6666666667px -62px #ff2600, 813.3333333333px -691px #6a00ff, 672.3333333333px 143px #15ff00, 572.3333333333px 15px #ee00ff; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
.timer {
  display: inline;
  margin: 0 auto; }

.clock {
  font-size: 150%; }

.js-check {
  display: none;
  font-size: 70%;
  float: left; }

.nav {
  display: flex;
  padding: 2em;
  font-size: 140%;
  color: #3fa9f5; }

.nav-link {
  padding-right: 0.5em;
  text-transform: uppercase; }

.nav-items {
  display: flex; }

.nav-items-right {
  margin-left: auto; }

.nav-link-toggle {
  display: none; }

.nav-link-brand {
  color: #fff;
  vertical-align: baseline; }

.home-icon {
  position: relative;
  top: .125em;
  font-size: 120%;
  margin-right: .2em; }

@media only screen and (max-width: 768px) {
  .nav-items,
  .nav {
    flex-direction: column; }

  .nav-items {
    display: none; }

  .nav-items-right {
    margin-left: 0; }

  .nav-toggle-show {
    display: flex; }

  .nav-link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer; } }
.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0; }

.flex-outer {
  max-width: 700px;
  margin-top: 3em; }

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.flex-inner {
  padding: 0 8px;
  justify-content: space-between; }

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px; }

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  text-transform: uppercase; }

.flex-outer > li > label input,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px; }

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px; }

.flex-outer li p {
  margin: 0; }

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px; }

.flex-inner li {
  width: 100px; }

input {
  border: 1px solid #3fa9f5;
  opacity: 0.7; }

input:focus {
  outline: none;
  border-color: #3fa9f5;
  box-shadow: 0 0 5px #3fa9f5; }

label {
  text-align: left;
  width: 125px; }

#results {
  display: none; }

.btn {
  display: inline-block;
  background-color: transparent;
  line-height: 3em;
  text-transform: uppercase;
  margin: 8px;
  padding: 0 15px;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: .08em;
  transition: all 1s ease; }

.btn:focus {
  outline: 0; }

.btn:after {
  content: "";
  position: absolute;
  height: 0;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: -1;
  transition: all .5s ease 0s; }

.btn:hover {
  color: #fff;
  text-shadow: none; }

.btn:hover:after {
  height: 100%; }

.btn-o-blue {
  border: 1px solid #3fa9f5; }

.btn-o-red {
  border: 1px solid #FF5C28; }

.btn.btn-fill:hover {
  border: 1px solid #303030; }

.btn.btn-fill:after {
  background: #303030;
  transform: translateX(-50%) translateY(-50%); }

.btn span.icon {
  margin-left: .2em;
  display: inline-flex;
  vertical-align: middle; }

/*# sourceMappingURL=style.css.map */
